## **Stage A Assessment  solution code**

In [3]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Importing food balance sheet dataset
df = pd.read_csv('/content/drive/MyDrive/Hamoye/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [8]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [10]:
df.shape

(60943, 12)

Question 11
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [108]:
df.groupby('Item').sum().loc['Animal fats'][['Y2014','Y2017']]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

Question 12: What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [106]:
df.describe()['Y2015']
#Ans: mean = 135.236 and standard deviation = 1603.404

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [105]:
#total number of missing data in 2016 is 1535
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [107]:
# percentage of missing data  in 2016 to 2 decimal places = 2.52
df.isnull().sum()/len(df)*100

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

Question 14
Which year had the highest correlation with ‘Element Code’?

In [109]:
df.corr()['Element Code'].sort_values()
#Y2014 had the highest correlation with ‘Element Code

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

Question 15
What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [101]:
df.groupby('Element').sum().loc['Import Quantity'].sort_values()
#Y2017 has the highest sum of Import Quantity

Y2015             267018.46
Y2014             274144.48
Y2016             286582.78
Y2018             287997.09
Y2017             294559.09
Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Name: Import Quantity, dtype: float64

Question 16
What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [98]:
df.groupby('Element').sum().loc['Production']['Y2014']

1931287.75

Question 17: Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [93]:
df[['Y2018','Element']].groupby(['Element'])['Y2018'].sum().sort_values(ascending=False)
#Domestic supply quantity  had the highest sum in 2018

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

Question 18: Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question

In [ ]:
df[['Y2018','Element']].groupby(['Element'])['Y2018'].sum().sort_values(ascending=True)
#Protein supply quantity (g/capita/day) had the 3rd lowest sum in 2018

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

Question 19
What is the total Import Quantity in Algeria in 2018?

In [96]:
df[['Y2018','Element','Area']].groupby(['Element','Area']).sum()
#36238.29 is the total Import Quantity in Algeria in 2018

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 1 columns]

Question 20
What is the total number of unique countries in the dataset?

In [72]:
df['Area'].nunique()

49